<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Recomentation System</title>
</head>
<body>
    <h1>Recommendation system</h1>
    <p>Enter the item id of the item previosly purchased by this customer</p>
    <form  method="POST" target="_self">
    <input type="number" name="Item ID" placeholder="Item ID">
    <input type="submit">
    </form>
    <p>Recommented Items ID</p>
    {{ recommended_item }}
</body>
</html>